@model HomeModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo ao AutoZone, @Model.Nome</h1>
    <p>Aqui você pode manter acompanhar a manutenção de seu veículo em tempo real.</p>
    <span>Seu email é: @Model.Email</span>
    <br />
    
</div>
